<%-include("partials/header")%>

<div class="lists-container">
  <div class="list-instance">
    <a href="/">Main List</a>
  </div>
  <div class="list-instance">
    <a href="/">Groceries List</a>
  </div>
  <div class="list-instance">
    <a href="/">Homework List</a>
  </div>
  <div class="list-instance">
    <a href="/">Books List</a>
  </div>
  <div class="list-instance add-new">
    <form class="" action="index.html" method="post">
      <input type="text" name="" value="" placeholder="+ Add a new list">
    </form>
  </div>
</div>

<div class="current-list-container">
  <div class="current-list-content">
    <h1>Main List</h1>
    <div class="items">
      <div class="item-instance">
        <input type="checkbox" name="" value="">
        Task 1
      </div>
      <div class="item-instance">
        <input type="checkbox" name="" value="">
        Task 2
      </div>
      <div class="item-instance">
        <input type="checkbox" name="" value="">
        Task 3
      </div>
    </div>

    <div class="">
      <form class="item-instance add-new" action="index.html" method="post">
        <input type="text" name="" value="" placeholder="+ Add a new task">
      </form>
    </div>
  </div>
</div>

<%-include("partials/footer")%>
