* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}


body{
  background-color: #FCFCFC;
  font-family: 'Lato', sans-serif;
  height: 100vh;
}

input{
  font-family: inherit;
  font-size: inherit;
  color: #656A80;
}

input[type="text"]{
  background-color: transparent;
  height: 100%;
  width: 100%;
  padding: 5px 15px;
}

input[type="text"]:focus {
  cursor: text;
  box-shadow: none;
  outline: 0;
}

.content{
  display: flex;
  height: 100%;
}

/********* Lists List*********/
.lists-container{
  background-color: #FFFFFF;
  color: #8990AD;
  padding: 20px 10px;
  filter: drop-shadow(0px 3px 26px rgba(0, 0, 0, 0.161));
  width: 178px;
}

.lists-container:first-child{
  margin-top: 0;
}

.lists-container:last-child{
  margin-bottom: 0;
  background-color: #F7F7F7;
}

.list-instance{
  color: #8990AD;
  font-size: 15px;
  padding: 5px 15px;
  margin: 5px 0;
  border-radius: 10px;
  font-weight: 400;
  cursor: pointer;
  width: 100%;
}


a{
  color: inherit;
  cursor: inherit;
  text-decoration: none;
}

.list-instance:hover{
  color: #656A80;
  background-color: #EDEDED;
}

::placeholder {
  font-family: 'Lato', sans-serif;
  color: #D4D4D4;
  font-size: 15px;
  font-weight: 400;
}

.btn-deleteList{
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  background-color: #FFF;
  color: #FF665C;
  padding: 5px 10px;
  border-radius: 10px;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.161));
}

.btn-deleteList:hover{
  background-color: #F7F7F7;
}

.btn-deleteList:active{
  outline: 0;
  opacity: 0.7;
}
/********* Lists *********/

/********* Current List *********/
.back{
  display: flex;
  cursor: pointer;
}

.back svg{
  fill: #8990AD;
  margin-right: 10px;
}

.back:hover svg, .back:hover span{
  fill: #495172;
  color: #495172;
}

.back:active svg, .back:active span{
  opacity: 0.5;
  fill: #495172;
  color: #495172;
}


.current-list-container{
  color: #4D4D4D;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px 0;
}

.current-list-content{
  width: 450px;
}

.items{
  margin: 14px 0;
  border-top: solid 1px;
  border-bottom: solid 1px;
  border-color: #707070;
}

.item-instance{
  min-height:30px;
  background: #fff;
  border-radius: 10px;
  filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.161));
  padding: 5px 15px;
  margin: 15px 0;
}

.item-instance form{
  display: flex;
justify-content: space-between;
align-items: center;
}

.item-instance form button{
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.item-instance form button svg{
  fill: #707070;
}

.item-instance form button:hover svg{
  fill: #FF665C;
}

.item-instance form button:active{
  opacity: 0.7;
}

.item-instance input[type='checkbox']:checked+span{
  text-decoration: line-through;
  opacity: 0.7;
}

.add-new{
  padding: 0;
  background-color: #fff;
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.161));
}

.add-new:hover{
  background-color: #fff;
}

.welcome h1{
  text-align: center;
  margin: 20px 0;
}

.welcome h2{
  margin-top: 30px;
}

.welcome p{
  margin: 10px 0;
}

/********* Current List End *********/

@media screen and (max-width: 768px) {
  body{
    font-size: 18px;
  }
  .current-list-content{
    width: 90%;
  }
}

footer{
  color: #495172;
  text-align: center;
}

footer a{
  color:#656A80;
  cursor: pointer;
  text-decoration: underline;
}
